.header {
    margin: 2rem;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goBackContainer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 30%;
    transition: 100ms ease-in-out;
}

.goBackContainer:hover {
    text-decoration: underline;
    transform: scale(1.01);
}

.goBackArrow {
    height: 80%;
}

.goBack {
    color: var(--textColor);
    text-decoration: none;
}

.skipAnimationBtn {
    height: 80%;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background-color: var(--textColor);
    border-radius: 6px;
    transition: 100ms ease-in-out;
}

.skipAnimationBtn:hover {
    transform: scale(1.03);
}

.skipAnimationBtn:active {
    transform: translateY(2px);
    opacity: 0;
}
